language: php
dist: trusty

php:
  - '5.5'
  - '5.6'
  - '7.0'
  - '7.1'
  - '7.2'
  - '7.3'
  - '7.4'

env:
  matrix:
    - AUTOLOAD=1
    - AUTOLOAD=0

before_script:
  - composer self-update
  - composer install --no-interaction

script:
  - php ./build.php ${AUTOLOAD}
